app-loader {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.center {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-block: 1em;
    align-items: center;
    min-width: fit-content;
}

.language{
    margin: 1em;
}

.title{
    font-size: x-large;
    margin-block: 2em;
}

p{
    font-size: large;
}

.loading-text{
    margin-top: 3em;
    font-size: large;
}

.loading-div{
    margin-top: 5em;
}

.choose-language-button{
    min-width: fit-content;
    width: fit-content;
    box-sizing: border-box;
    padding-inline: 2em;
}