app-loader {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}

.center {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    min-width: fit-content;
}

.language {
    margin: 1em;
}

.title {
    font-size: x-large;
    margin-block: 1em;
}

p {
    font-size: large;
}

.loading-text {
    margin-top: 3em;
    font-size: large;
}

.loading-div {
    margin-top: 5em;
}

.choose-language-button {
    min-width: fit-content;
    width: fit-content;
    box-sizing: border-box;
    padding-inline: 2em;
}

.flag-and-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-block: 1em;
    p {
        margin: 0;
    }
    .flag {
        width: 100%;
    }
}

.flag {
    min-height: 30px;
    min-width: 30px;
    width: 50%;
    padding-inline: 2em;
    box-sizing: border-box;
}

.title-flag {
    margin-bottom: 2em;
}
