<div class="container">
    <p class="title">Practice all skills</p>
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="apiData">
        <p>Language:</p>
        <p class="largerText">{{ currentLanguage }}</p>
        <br />

        <p>Last lesson:</p>
        <p class="largerText">{{ lastLesson }}</p>
        <br />

        <form>
            <mat-checkbox color="primary" id="newerPref">Preffer newer lessons?</mat-checkbox>
            <button class="startButton" (click)="onStartClick($event)">START</button>
        </form>
    </ng-container>
</div>
