<div class="container">
    <p class="title">Practice all skills</p>
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <p>Language:</p>
        <p class="largerText">{{ currentLanguage$ | async }}</p>
        <br />

        <p>Last lesson:</p>
        <p class="largerText">{{ lastLesson$ | async }}</p>
        <br />

        <form>
            <mat-checkbox
                color="primary"
                id="newerPref"
                name="newerPref"
                [checked]="prefferNew"
                [(ngModel)]="prefferNew"
                >Preffer newer lessons?</mat-checkbox
            >
            <div class="sliderDiv">
                <p>Amount of words:</p>
                <mat-slider
                    min="5"
                    max="50"
                    step="1"
                    value="20"
                    thumbLabel
                    tickInterval="10"
                    (input)="amount = $event.value"
                    aria-labelledby="slider"
                ></mat-slider>
                <p>{{ amount }}</p>
            </div>

            <button mat-raised-button color="primary" class="startButton" (click)="onStartClick($event)">
                START
            </button>
        </form>
    </ng-container>
</div>
