@use "/src/variables.scss" as v;
app-loader {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-top: 1em;
}

.container {
    padding: 2em;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.largerText {
    font-size: x-large;
}

.startButton {
    padding: 1.5em;
    min-width: 150px;
    margin-top: 1em;
    font-size: large;
}

mat-checkbox {
    display: block;
}

.title {
    font-size: xx-large;
    margin-bottom: 1em;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.sliderDiv, .amountDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
    }
}
.amountDiv{
    margin-top: 1em;
}

mat-slider {
    padding-block: 0;
}

@media screen and (max-width: 700px) {
    .container {
        font-size: 1.5rem;
        line-height: 1.3em;
        padding: 1em 0;
    }
    .title{
        font-size: 2rem;
        line-height: 1.3em;
    }
    .amountDiv{
        margin-top: 2em;
        flex-direction: column;
    }
    .subtitle{
        font-weight: 600;
    }
    .largerText{
        text-align: center;
    }
}
