mat-card{
    text-align: center;
    box-sizing: border-box;
}

:host{
    height: fit-content;
}

mat-card,:host{
    max-width: 300px;
    width: 300px;
}

p{
    max-width: 100%;
    word-break: normal;
    white-space: normal;
}