@use "/src/variables.scss" as v;

mat-card{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

:host{
    height: fit-content;
}

mat-card,:host{
    max-width: 200px;
    width: 200px;
    min-height: 200px;
    height: fit-content;
}

p{
    max-width: 100%;
    word-break: normal;
    white-space: normal;
}

mat-card-title{
    font-size: large;
}

.mat-card{
    background-color: v.$main_color_emphasized;
    *{
        color: black;
    }
}