@use "src/variables.scss" as v;
:host{
    background-color: v.$main-color;
    height: fit-content;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 25%;
    min-width: 250px;
    height: 30%;
    min-height: 300px;
    text-align: center;
    padding: 2em;
    border: 1px dotted black;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: v.$secondary-color;
}

.title{
    font-size: xx-large;
    display: block;
    margin-top: 5em;
    margin-bottom: 3em;
}

.description{
    margin-block: 3em;
}