@use "/src/variables.scss" as v;
:host{
    background-color: v.$main-color;
    display: block;
    height: fit-content;
    min-height: 100%;
    width: 100%;
}
.rest{
    padding-inline: 10%;
    padding-block: 2em;
}