@use "src/variables.scss" as v;
label{
    display: block;
    margin-block-start: 1em;
}

mat-form-field{
    margin: 1em auto;
    display: block;
}

app-loader{
    width: 20px;
    height: 20px;
    margin: 0 auto;
    display: block;
}

.mat-raised-button{
    background-color: v.$secondary-color-emphasized;
}