<div class="container">
    <p class="title">Practice a single lesson</p>
    <app-loader *ngIf="loading"></app-loader>
    <ng-container *ngIf="!loading">
        <p>Language:</p>
        <p class="largerText">{{ currentLanguage$ | async }}</p>
        <br />

        <form *ngIf="filteredSkillsList">
            <mat-form-field>
                <input
                    matInput
                    type="text"
                    placeholder="Filter skills"
                    [ngModel]="filterValue"
                    (ngModelChange)="onFilterChange($event)"
                    name="filter"
                />
            </mat-form-field>
            <div class="lessons">
                <mat-checkbox
                    *ngFor="let skill of filteredSkillsList!.reverse()"
                    class="lesson"
                    color="primary"
                    [id]="skill.name"
                    [name]="skill.name"
                    (change)="onChange($event, skill)"
                    [checked]="chosenSkills.includes(skill)"
                    >{{ skill.title }}</mat-checkbox
                >
            </div>

            <button
                mat-raised-button
                color="primary"
                class="startButton"
                (click)="onStartClick($event)"
                [disabled]="chosenSkills.length == 0"
            >
                START
            </button>
            <p *ngIf="chosenSkills.length == 0" class="hint-text">
                Choose at least 1 skill to begin
            </p>
        </form>
    </ng-container>
</div>
