@use "/src/variables.scss" as v;
@import url("../practice-all/practice-all.component.scss");
.lessons{
    text-align: left;
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    max-height: 70vh;
    height: fit-content;
}
.lesson{
    margin-inline: 2em;
}
form{
    display: block;
    width: 100%;
    text-align: center;
}

mat-checkbox{
    margin-inline-end: 1em;
}

.hint-text{
    margin-block: 0.5em;
    font-size: medium;
    color: darkred;
}