@use "/src/variables.scss" as v;
:host{
    display: block;
    background: v.$main-color-emphasized;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.flexbox{
    height: 100%;
    display: flex;
}
a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: unset;
    line-break: normal;
    text-align: center;

    width: 25%;
    height: 100%;
    background-color: v.$main-color-emphasized;
    border: none;
    &:hover{
        background-color: v.$secondary-color;
    }
    cursor: pointer;
    border-radius: 0 0 10px 10px;
    font-size: large;
    &.active{
        background-color: v.$secondary-color;
    }
}